body {
  background: black;
  margin: 100px;
  overflow-x: hidden;
  width: 100%;
  height: 150vh;
}

.wrapper {
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  width: 200px;
  height: 150px;
  padding: 0;
  background:none;
  text-decoration: none;
  border: 1px solid white;
  color: white;
}

.welcome {
  color: white;
  width: 100px;
  height: 100px;
  margin-top: 1500px ;
  display:flex;
  justify-content:center;
  align-items:center
}


