.custom-cursor {
  position: absolute;
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: difference;
  transform: translate(-20px, -20px);
}

.scope {
  height: 50px;
  width: 50px;
  position: absolute;
}

.custom-cursor.magnetizable {
  transition: 0.2s all ease-in-out;
  mix-blend-mode: initial;
  transform: translate(0px, 0px); 
}

.animate-cursor-first {
  animation: cursor-pulse 1s ease-in-out forwards;
}

.animate-cursor-second {
  animation: cursor-pulse 2s ease-in-out forwards;
}
.top-left {
  position: absolute;
  top: 0;
  left: 0
}

.top-right {
  position: absolute;
  top: 0;
  right: 0
}

.bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 16px;
  height: 16px;
}

.bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 16px;
  height: 16px;
}

@keyframes cursor-pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.7);
    opacity: 0;
  }
}